body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
    margin-bottom: 10px;
    display: inline-block;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.button-container button:hover {
    background-color: #45a049;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 200px;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

#dados, #divProdutos {
    text-align: left;
}

#dados, #divProdutos div {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f3f3f3;
}

#divProdutos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#divProdutos th, #divProdutos td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#divProdutos th {
    background-color: #4CAF50;
    color: white;
}

#divProdutos tr:nth-child(even) {
    background-color: #f2f2f2;
}


